#root {
  max-width: 1280px;
  margin: 0 auto;
  // padding: 2rem;
  // text-align: center;
}
body {
  display: grid;
  //place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}
main {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 1rem;
  background-color: var(--white);
  overflow: hidden;
}
button:hover, button:focus {
  opacity: 0.5;
}
a:hover, a:focus {
  opacity: 0.5;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: clamp(2.5rem, 6vw + 22px, 4rem);
  margin-top: 1rem;
  margin-bottom: clamp(24px, 10vw - 6px, 96px);
  padding-inline: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 1pt rgba(100, 100, 100, 0.15);
  .avatar-img {
    height: clamp(1.5rem, 3.6vw + 13.2px, 2.4rem);;
  }
  & > div.flex {
    gap: clamp(0.5rem, 5.3vw, 2rem)
  }
}
.slider-viewport {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.slider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 400%;
  overflow-x: auto;
  position: relative;
  transition: transform 0.5s ease;

  .slider-container {
    display: inline-block;
    //flex: none;
    position: relative;
    width: 100%;
    height: 100%;
    img {
        width: 100%;
    }
  }
}
.prev-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  width: 2rem;
  height: 2rem;
  z-index: 2;
  background-color: white;
  padding: 0.5rem;
  border-radius: 50%;
}
.next-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  width: 2rem;
  height: 2rem;
  z-index: 2;
  background-color: white;
  padding: 0.5rem;
  border-radius: 50%;
}
.add-cart {
  all:unset;
  width: calc(100% - 2rem);
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-orange);
  padding-block: 0.5rem;
  border-radius: 0.75rem;
  box-shadow: 10px 10px 20px hsla(26, 100%, 55%, 0.5);
  svg {
    fill: var(--very-dark-blue);
    margin-inline: 1rem;
  }
}
.cart-indicator {
  padding-inline: 0.25rem;
  border-radius: 50%;
  background-color: var(--color-orange);
  position:absolute;
  top:-0.5rem;
}
.cart-card {
  position: Absolute;
  top: 3rem;
  left: 50%;
  background-color: white;
  z-index: 3;
  transform: translate(-50%, 0);
  box-shadow: 0px 0px 15px rgba(100, 100, 100, 0.25);
  min-width: 18rem;
  border-radius: 0.5rem;
}

.lightbox-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(100, 100, 100,0.9);
  display: grid;
  place-items: center;
  z-index: 2;
}
.lightbox-fg {
  width: 80%;
  overflow: auto;
}
.hamburger {
  display: none;
}
.dropdown {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  width: 150px;
  display: none;
  z-index: 3;
  .dropdown-menu-list {
    li.current {
      text-decoration: underline solid var(--color-red-500);
    }
  }
}
.show {
  display: block;
}
.thumbnail-card {
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-block: 1rem;
  img {
    border-radius: 0.5rem;
    flex: 1 1 25%;
  }
}
.main-container {
  display: flex;
  flex-direction: column;

  .image-section {
    display: flex;
    flex-direction: column;
  }
  .text-section {
    display: flex;
    flex-direction: column;
  }
  .product-card {
    h1 {
      font-size: clamp(28px, 4vw + 16px, 44px);
    }
  }
}
@media only screen and (min-width: 40rem) {
  .image-section {
    .slider-viewport {
      height: 50vw;
      border-radius: 0.75rem;
      .slider-container {
        transform: translateY(-25%);
      }
    }
  }
  .shop-buttons {
    flex-direction: row;
    gap: 1rem;
  }
  .incdec {
    flex: 1 1 50%;
  }
  .add-cart {
    flex: 1 1 50%;
  }
  .product-price {
    display: block;
    span:first-child {
      margin-right: 1rem;
    }
    .line-through {
      display: block;
    }
  }
}

@media only screen and (min-width: 64rem) {
  #root {
    padding: 2rem;
  }
  header {
    .hamburger {
      display: none;
    }
  }
  .dropdown {
    display: contents;
    position: relative;
    .close-button {
      display: none;
    }
    .dropdown-menu-list {
      flex-direction: row;
    }
    ul {
      margin-top: 0;
    }
  }
  .prev-icon {
    display: none;
  }
  .next-icon {
    display: none;
  }
  .main-container {
    flex-direction: row;
    gap: 3rem;
    .image-section {
      flex: 0 1 50%;
    }
    .text-section {
      flex: 1 0 50%;
      justify-content: center;
      gap: 1rem;
    }
  }
  .incdec {
    flex: 1 1 40%;
  }
  .add-cart {
    flex: 1 1 60%;
  }
  .thumbnail-card {
    display: flex;
  }
  .image-section {
    .slider-viewport {
      height: auto;
      .slider-container {
        transform: none;
      }
    }
  }
  .lightbox-fg {
    width: 60%;
  }
}
