#root {
  max-width: 1280px;
  margin: 0 auto;
  // padding: 2rem;
  // text-align: center;
}
body {
  display: grid;
  //place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}
main {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 1rem;
  background-color: var(--white);
  overflow: hidden;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  margin-block: 1rem;
  img {
    height: 1.5rem;
  }
}
.slider-viewport {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.slider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 400%;
  overflow-x: auto;
  position: relative;
  transition: transform 0.5s ease;

  .image-container {
    display: inline-block;
    //flex: none;
    position: relative;
    width: 100%;
    height: 100%;
    img {
        width: 100%;
    }
  }
}
.prev-icon {
  position: absolute;
  left: 20px;
  top: 50%;
  width: 2rem;
  height: 2rem;
  z-index: 2;
  background-color: white;
  padding: 0.5rem;
  border-radius: 50%;
}
.next-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  width: 2rem;
  height: 2rem;
  z-index: 2;
  background-color: white;
  padding: 0.5rem;
  border-radius: 50%;
}
.add-cart {
  all:unset;
  width: calc(100% - 2rem);
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-orange);
  padding-block: 0.5rem;
  border-radius: 0.75rem;
  svg {
    fill: var(--very-dark-blue);
    margin-inline: 1rem;
  }
}
.cart-indicator {
  padding-inline: 0.25rem;
  border-radius: 50%;
  background-color: var(--color-orange);
  position:absolute;
  top:-0.5rem;
}
